body{
    margin: 0px;
    background-image: url('/eterea/images/ETEREA_HomeFondo.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    color: #666;
    font-family: 'Century Gothic',futura,'URW Gothic L',Verdana,sans-serif;
    
}

/**
*   Page structure
*/
#header{
    height: 130px;
}

#content{ 
    background-color: white;
    margin: auto;
    width: 1022px;
    color: #666;
}

#footer{
    display: none;
}



/*
*   Modules - structure
*/
#header-content{
    padding: 20px;
    background-color: white;
    width: 982px;
    margin: auto;
    height: 130px;
}

#container{
    background-image: url('../images/container-bg.png');
    background-position: bottom;
    background-repeat: no-repeat;
    display: table;
    margin: 20px 20px 20px 20px;
    width: 982px;
}

.frame{
    min-height: 525px;
}
.frame-home{
    background-image: url('../images/home-bg.png'); 
    display: table;
    width: 982px;
    height: 500px !important;
} 


/*
*
*/
#main-logo{
    float: left;
    width: 290px;
}
#main-menu{
    float: left;
    width: 650px;
    border-top: 1px #a3195b solid;
    border-bottom: 1px #a3195b solid;
    height: 28px;
    line-height: 28px;
    margin-top: 40px;
}
#main-menu li{
    display: inline;
    margin-left: 30px;
}
#main-menu li a{
    font-size: 14px;
    font-weight: bold;
    color: #333333;
    text-decoration: none;
}
#main-menu li a:hover{
    color: #BE1622;
}
#main-menu li a.active {
    color: #BE1622;
}


.gallery-title{
    height: 30px;
    line-height: 30px;
}
.gallery-title span{
    text-align: center;
    color: #ffffff;
    height: 30px;
    display: block;
    background-color: #a3195b;
    width: 287px;
    float: left;
    margin-right: 30px;
    font-size: 18px;
}
.gallery-title ul{
    font-weight: bold;
    font-size: 14px;
    height: 29px;
    border-top: 1px #a3195b solid;
    border-bottom: 1px #a3195b solid;
}
.gallery-title ul li{
    display: inline;
    margin-left: 10px;

}
.gallery-title ul li:hover{
    cursor: pointer;
    color: #BE1622;
}

.image-container{
    float: left;
    width: 655px;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 50px;
}
.image-selector{
    float: left;
    border-left: 1px #a3195b solid;
    border-right: 1px #a3195b solid;
    width: 180px;
    height: 450px;
    margin-left: 30px;
    margin-top: 20px;
    list-style: none;
    overflow: hidden;
}
.image-selector li{
    margin-bottom: 5px;
    list-style: none;
}
.image-selector li img{
    width: 150px;
    height: 100px;
    margin-left: -25px;
    cursor: pointer;
}
.frame button{
    margin-top: 100px;
    float: left;
}
.image-slider{
    top: 0px;
    position: relative;
    display: table;
}
.slide-area{
    margin-top: 230px;
    float: right;
    width: 45px;
    height: 45px;
    background-image: url('../images/slide-bg.png');
}
.slide-area a{
    line-height: 20px;
    font-size: 20px;
    display: block;
    color: #ffffff;
    margin-left: 5px;
    width: 20px;
}
.slide-area a:hover{
    font-weight: bold;
    cursor: pointer;
}

#mailto{
    display: block;
    float: right;
    height: 28px;
    width: 250px;
    background-image: url('../images/mail.png');
}

#speach{
    color: #333333;
    width: 380px;
    margin-left: 380px;
    margin-top: 30px;
    font-size: 14px;
    line-height: 20px;
}